.content {
    background-color: #f4f4f2;
    padding: 15px;
    width: 100%;
}


#body-row {
    display: -ms-flexbox;
    display: flex;
}


#sidebar-container {
    min-height: 100vh;
    background-color: #e6e6e6;
    padding: 0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
}

    #sidebar-container .list-group-item {
        border-radius: 0 !important;
    }


/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: inherit;
}

.sidebar-collapsed {
    width: 60px;
}

    .sidebar-collapsed .menu-collapsed {
        display: none !important;
    }

/* Menu item*/
#sidebar-container .list-group .list-group-item {
    color: #454545;
    cursor: pointer;
    border-right: none;
    border-left: none;
    border-top: 1px solid #f4f4f2;
    border-bottom: 1px solid #f4f4f2;
}

.blue-background {
    background-image: linear-gradient(180deg, #225b7c 0%, #225b7c 70%);
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
    padding-top:10px;
    padding-right:53px;
}

#sidebar-container a.active {
    background-color: #56c9c1;
    color: #ffffff !important;
}

#sidebar-container.sidebar-expanded a {
    padding: 5px;
}

#sidebar-container.sidebar-expanded a {
    padding: 5px;
}

.list-group-item {
    background-color: transparent !important;
}
.list-group-item.active {
   background-color: #56c9c1 !important;
    border:none;
}


.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #225b7c !important;
    height: 35px;
    color: #ffffff;
    padding: .75rem 1.25rem;
}

    .sidebar-separator-title.text-muted {
        color: #ffffff !important;
    }

.sidebar-separator {
    background-color: transparent !important;
    height: 25px;
}

.nav-bottom {
    position: fixed;
    bottom: 0;
    width: inherit;
    margin-bottom: 25px;
}

.sidebar-expanded .nav-bottom li {
    padding-right: 10px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
    content: " \f0d7";
    font-family: "Font Awesome 5 Free";
    display: inline;
    text-align: right;
    padding-left: 10px;
    font-weight: 900;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: " \f0da";
    font-family: "Font Awesome 5 Free";
    display: inline;
    text-align: right;
    padding-left: 10px;
    font-weight: 900;
}

.sidebar-collapsed .collapse-icon::after {
    content: " \f101";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.sidebar-expanded .collapse-icon::after {
    content: " \f100";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

#sidebar-container .nav-links {
    overflow-y: auto;
    max-height: 80vh;
}

/*bootstrap color overrides*/
.badge-primary {
    background-color: #225b7c;
}

.navbar-toggler {
    background-color: #56C9C1;
}

.navbar-toggler-icon {
    content: " \f0da";
    font-family: "Font Awesome 5 Free";
    color: #ffffff;
    font-weight: 900;
}


/*Top Nav styles*/
@media (min-width: 768px) {
    .top-row {
        background-color: #e6e6e6 !important;
        border-bottom: 1px solid #d6d5d5;
        height: 50px;
        padding: 22px;
    }

    .content {
        background-color: #f4f4f2;
        padding: 15px;
        width: 100%;
        margin-left: 208px; /* Same as the width of the sidebar*/
    }

        .content.content-extended {
            margin-left: 60px;
        }

        .content.no-sidenav {
            margin-left: 0;
        }
    .sidebar-expanded .nav-bottom {
        width: 208px; /* Same as the width of the sidebar*/
    }
}

.top-row .nav-item .nav-link {
    color: #56C9C1;
}

    .top-row .nav-item.active .nav-link,
    .top-row .nav-item .nav-link.active,
    .top-row .nav-item:hover .nav-link {
        color: #ffffff;
        background-color: #56C9C1;
        padding: 10px;
    }
