@inherits LayoutComponentBase


<TopNav></TopNav>

<div id="body-row">

    <SideNav OnChange="@SideBarChanged"></SideNav>

    <div class="content @ContentClass">
        @Body
    </div>
</div>

@code{
    private string ContentClass { get; set; }
    private void SideBarChanged(string state)
    {
        ContentClass = state == "collapsed" ? "content-extended" : "";
    }
}
