<ul class="list-group">
    <!-- Separator with title -->
    <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
        <small>MAIN MENU</small>
    </li>
    <!-- /END Separator -->
    <!-- Menu with submenu -->
    <li data-target="#submenu1" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fas fa-tachometer-alt fa-fw mr-3"></span>
            <span class="menu-collapsed">Dashboard</span>
            <span class="submenu-icon ml-auto"></span>
        </div>
    </li>
    <!-- Submenu content -->
    <div id='submenu1' class="collapse sidebar-submenu">
        <a href="/Counter" class="list-group-item list-group-item-action text-white">
            <span class="menu-collapsed">Counter</span>
        </a>
        <a href="/fetchdata" class="list-group-item list-group-item-action text-white">
            <span class="menu-collapsed">Fetch Data</span>
        </a>
        <a href="/" class="list-group-item list-group-item-action text-white">
            <span class="menu-collapsed">Home</span>
        </a>
    </div>
    <li data-target="#submenu2" data-toggle="collapse" aria-expanded="false" class=" list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-user fa-fw mr-3"></span>
            <span class="menu-collapsed">Profile</span>
            <span class="submenu-icon ml-auto"></span>
        </div>
    </li>
    <!-- Submenu content -->
    <div id='submenu2' class="collapse sidebar-submenu">
        <a href="#" class="list-group-item list-group-item-action text-white">
            <span class="menu-collapsed">Settings</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action text-white">
            <span class="menu-collapsed">Password</span>
        </a>
    </div>
    <li class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-tasks fa-fw mr-3"></span>
            <span class="menu-collapsed">Tasks <span class="badge badge-pill badge-primary ml-2">25</span></span>
        </div>
    </li>
    <!-- Separator with title -->
    <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
        <small>OPTIONS</small>
    </li>
    <!-- /END Separator -->
    <li class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-calendar fa-fw mr-3"></span>
            <span class="menu-collapsed">Calendar</span>
        </div>
    </li>
    <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="far fa-envelope fa-fw mr-3"></span>
            <span class="menu-collapsed">Messages <span class="badge badge-pill badge-primary ml-2">5</span></span>
        </div>
    </li>
    <!-- Separator without title -->
    <li class="sidebar-separator menu-collapsed"></li>
    <!-- /END Separator -->
    <li class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-question fa-fw mr-3"></span>
            <span class="menu-collapsed">Help</span>
        </div>
    </li> 
</ul><!-- List Group END-->

